<%= erb :'partials/_header' %>

<h1>Here are all  songs</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="2">Song Title</th>
    </tr>
  </thead>
  <tbody>

<% if @songs != nil && @songs.length > 0 %>  

  <% @songs.each do |song|  %>
    <tr>
      <td><li><%= song["name"] %></li></td>
      <td><a href="/artists/<%= song.artist_id %>/songs/<%= song.id%>">Show More Info</a></td>
    </tr>
  <% end 
elsif 
%>
    <tr>
      <td colspan="2">There is no song</td>
    </tr>

<% end %>
</tbody>
</table>

<a href="/artists/<%= @artist_id %>/songs/new">Add a new song!</a>

<%= erb :'partials/_footer' %>